* {
    box-sizing: border-box;
  }
   
  body {
    font-family: 'Noto Sans JP',
    sans-serif; 
    /* font-size: 20px;
    color: #444;
    text-align: center;
    line-height: 1.5; */
  } 
  
  nav {
    padding: 0;
    background-color: #77C9D4;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: right;

  }
  
  
  header {
    padding: 0;
    background-color: #77C9D4;
  }