ul.problemType {
    display: flex;
    justify-content: space-between;
}
li {
    list-style-type: none;
    align-items: flex-start;
}
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.problemLink{ 
  color: black;
}